.header{
	width: 100%;
	height: 200px;
}
.collapse-tam{
	height: 50px;
}
.header-md{
	height: 190px;
	width: 100%;
}
.logo{
	padding-top: 30px;
	padding-left: 35px;
}
@media (max-width: 1000px) and (min-width: 50px) {
	#header{
	display: none !important;
}}
@media (max-width: 1000px) and (min-width: 50px) {
	#btn-float{
	display: none !important;
}}
.img-uacm{
	padding-top: 15px;
}
.img-moba{
	padding-top: 35px;
}
.img-nav{
	padding-top: 30px;
}